
<div class="row">
    <div class="col-lg-12">
        <h1>Products</h1>            

    </div>

    <div class="col-lg-6">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control"/>
        </div>
        <br/>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-success"/>
        </div>
        </div>
        
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-scrollable">
                        <table class="table">
        
                        <tr>
                            <th>Actions</th>
                            <th>Sr.No</th>
                            <th>Image</th>
                            <th>categories</th>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-outline-success">Edit</button>
                                <button type="button" class="btn btn-outline-danger">Delete</button>
                            </td>
                        </tr>
                    </table>
                    </div>
            </div>
        
        </div>
        
   